<h1>Listing employees</h1>

<table>
  <thead>
    <tr>
      <th>Age</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Salary</th>
      <th>Address</th>
      <th>Tax Owed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.age %></td>
        <td><%= employee.first_name %></td>
        <td><%= employee.last_name %></td>
        <td><%= number_to_currency(employee.salary )%></td>
        <td><%= employee.address.street %></td>
        <td><%= number_to_currency(employee.withholding(employee.salary)) %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
