<p id="notice"><%= notice %></p>

<p>
  <strong>Age:</strong>
  <%= @employee.age %>
</p>

<p>
  <strong>First name:</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employee.last_name %>
</p>

<p>
  <strong>Salary:</strong>
  <%= number_to_currency(@employee.salary) %>
</p>

<p>
<strong>Tax Owed:</strong>
<%= number_to_currency(@employee.withholding(@employee.salary)) %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee.address.street %>
  <br/>
  <strong>City:</strong>
  <%= @employee.address.city %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
